<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form action = "/db/kh_login" method ="post"><!-- post  =blind -->
		<input type = "text" name = "id" placeholder = "아이디" required><br><br>
		<input type = "password" name = "pw" placeholder = "비번" required><br><br>
		
		<input type = "submit" value = "로그인">
	
		<!--  초기화 버튼 -->
		<input type = "reset" value = "지우기"> 
		
		
		
		
	
	</form>
</body>
</html>

<!--  get vs post

GET
- 주소를 통한 요청정보를 전단
- 간편함
- 보낼 수 있는 양이 한정적(주소는 256자 까지만 작성 가능)

POST 
-request body 를 이용하여 정보를 전달 
- 준비물이 많이 필요함(form, input)
- 보낼 수 있는 양이 무제한
- 글꼴이 깨짐(수신측 복구 필요) 




-->