<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>이미지 태그</title>
</head>
<body>
	<!-- img 태그 -->
	
	<!--  절대경로 -->
	<img alt="https://mimgnews.pstatic.net/image/215/2015/01/24/A201501240308_1_99_20150124230203.jpg?type=w540" width = "200" height = "200">
	<img src = "https://mimgnews.pstatic.net/image/215/2015/01/24/A201501240308_1_99_20150124230203.jpg?type=w540" width = "100" height = "100">
	
	

	<img src = "/html/component/A201501240308_1_99_20150124230203.jpg" width = "200" height="200">
		<!--  상대경로 -->
		
	<img src = "./A201501240308_1_99_20150124230203.jpg" width = "200" height="200">
	
	<!--  ./ 현제 위치 ../ 상위 위치 -->
	<!-- 상대 경로 : 현재 파일의 위치를 기주능로 계산하여 경로 설정 -->
	
	<img src = "../image/wbbYBK5.jpg" width = "200" height = "200">
</body>
</html>