<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>표</title>
</head>
<body>
	<!--  샘플 표 생성 -->
	<table border = "3" width = "400"> 
	
		
		<thead>
		<!-- thead : 제목 등 테이블 항목 정보를 표시 -->
		<!--  tr : 줄 -->
			<tr bgcolor="blue">
				<!-- th/td :  칸     th : 재목을 위한 칸 굵은 글씨 (가온데 정렬) 
								  td : 내용을 위함 -->
				<th> 번호  </th>		
				<th bgcolor= "red"> 이름  </th>
				<th> 가격  </th>	
		</tr>
		
		</thead>


	<tbody align = "center">
		<tr>
			<td>10000</td>
			<td>허니버터칩</td>
			<td align = "right">3500</td>
		</tr>
		
		
		<tr>
			<td>10001</td>
			<td>처음처럼</td>
			<td>1500</td>
		</tr>
		
		<tr>
			<td>10002</td>
			<td>카스</td>
			<td>12313</td>
		</tr>
		
		
	
	</tbody>


	<tfoot></tfoot>
	
	
	
	
	</table>


</body>
</html>