<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>


	<div >
	<table > 
	
		<thead>
			<tr bgcolor = "#93DAFF">
				<th > 번호<th>
				<th  > 제목<th>
				<th > 작성자<th>
				<th > 작성일<th>
				<th > 조회수<th>
			</tr>
		</thead>
	
		<tbody>

			<tr>
				<td >3<td>
				<td >서비스 정검 공지<td>
				<td >운영자<td>
				<td >2019-11-20<td>
				<td >35<td>
			</td>
			<tr >
				<td align = "center">2<td>
				<td>소방 훈련 안내<td>
				<td>운영자<td>
				<td>2019-11-19<td>
				<td>60<td>
			</td>			
			<tr>
				<td >1<td>
				<td>공지사항<td>
				<td>운영자<td>
				<td>2019-11-12<td>
				<td>102<td>
			</td>		
		</tbody>
	
	</table>
	</div>


</body>
</html>