<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table border = "1" >
		<thead>
			<tr>
				<th rowspan = "2" height = 80>회차</th>
				<th colspan="4">일정</th>
			
			</tr>
			<tr>
				<th width = "100">접수</th>
				<th width = "100">시험</th>
				<th>발표</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>제1회</td>
				<td >01.28 ~ 02.01</td>
				<td>02.16 ~ 02.24</td>
				<td>03.07</td>
			</tr>
			
			<tr>
				<td>제2회</td>
				<td >04.22 ~ 04.26</td>
				<td>05.11 ~ 05.19</td>
				<td>05.30</td>
			</tr>
		
		</tbody>
		
		
			
	
	
	</table>

</body>
</html>